@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    color: black;
    div.card{
        width: 2.6in;
        height: 3.85in;
        border-style: solid;
        display: flex;
        align-items: cneter;
        justify-content: center; 
    }
    div.card img{
        rotate: 90deg;
        height: 2.35in; /* apparent WIDTH because image is rotated 90deg */
        width: 3.5in; /* apparent HEIGHT because image is rotated 90deg */
        object-fit: contain;
        border-style: solid;
        /* padding: 2px; */
    }
}


