@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    color: black;
    padding: 50px;
}

body>h1 {
    color: cornsilk;
    font-weight: bold;
    text-align: center;
    transform: rotate(-2deg);
}

.cardsContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}

div.card{
    width: 2.55in;
    min-width: 2.55in;
    height: 3.7in;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.card img{
    rotate: 90deg;
    height: 2.35in; /* apparent WIDTH when image is rotated 90deg */
    width: 3.5in; /* apparent HEIGHT when image is rotated 90deg */
    object-fit: contain;
    border-style: solid;
    border-radius: 7px;
    border-color: #0A8A9C;
    /* padding: 2px; */
}

div.cardCornerTop {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.cardCornerBtm {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.card>h1 {
    font-size: 10rem;
}

p {
    color: cornsilk;
    font-size: 1rem;
}

p:first-of-type {
    font-weight: bold;
    text-align: center;
    background-color: salmon;
    padding: 5px;
}